<% @user = User.find(session[:user_id])%>
<h1>Welcome, @user.username </h1>
<<<<<<< HEAD

<% Tweet.all.each do |tweet| %>
<div>
  <%= tweet.content %>
</div>
<% end %>
=======
>>>>>>> 2384bb07928b795dab0c79785230a687dd6302fe
