<h1>Log In Below:</h1>
<form action="/login" method="post">
  <p>Username: <input id="username" type="text" name="username"></p>
  <p>Password: <input id="password" type="text" name="password"></p>
<<<<<<< HEAD
  <input type="submit" id="submit" value="Log In">
=======
  <input type="submit" name="submit" value="Log In">
>>>>>>> 2384bb07928b795dab0c79785230a687dd6302fe
</form>
